<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-weight:600;">About Me</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p style="text-align:justify;font-size:larger;">
                I am currently a Research Fellow in Computational Biology and Bioinformatics in Center for Bioinformatics and Genomic Systems Engineering (CBGSE) 
				and the Department of Electrical and Computer Engineering  at Texas A&M University in <a href="https://yubiolab.wordpress.com/">Yu Bioinformatics Lab</a>.
				My interests include but not limited to developing novel bioinformatics algorithms and tools, whole genome analysis, data mining, biostatistics, 
				and web application development, etc. Nearly five years’ computational biology and four years’ computer science and technology experiences made me 
				have the ambitions to dig deeper into life science or biology science. I want to apply my skills to the scientific researches where they are needed, 
				to use computational approaches to discover the mechanism of gene regulation and analyze the variation that affect the gene expression, 
				to have a better understand how our genome organized and worked, to cure diseases and make a better world.

            </p>
        </div>
    </div>
</section>