<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-weight:600;">About Me</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p style="text-align:justify;font-size:larger;">
              I am currently a post-doctoral research fellow in computational biology/bioinformatics, working in the lab of Dr. Zhongming Zhao at the School of Biomedical Informatics,
               University of Texas Health Science Center at Houston(UTHealth). My research is focused on the application of multivariate statistics, machine learning, 
               and deep learning to epigenomics data in particular, and bioinformatics data, in general. I received a Ph.D. in Medical Science, Pharmacognosy, 
               with a concentration in Bioinformatics from the Chinese Academy of Medical Sciences & Peking Union Medical College(PUMC&CAMS). 
               I am dedicated to rigorous science in the public interest and I am passionate about the open access movement in science.
		<br><br>
		My CV can be accessed <a href="/assets/files/CV_RufiengHu.pdf">here</a>. 
		<hr style=";border:none;border-top:2px dotted #185598;" />

            </p>
        </div>
    </div>
</section>
