<!-- Contact Footer -->
<footer id="contact" class="border-t border-gray-200 dark:border-gray-800 py-12 px-4">
  <div class="flex flex-col max-w-4xl mx-auto text-center items-center">
    <h2 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-4 section_title_font">Get in touch</h2>
    <!-- <div class="w-24 h-px bg-gray-300 dark:bg-gray-600 mb-6"></div> -->
    <img src="assets/image/divider.svg" class="w-96 h-full object-cover mb-4 mt-4" alt="">
      <p class="text-gray-600 dark:text-gray-400 mb-8 max-w-xl mx-auto">
          Have an interesting project? Let's connect!
      </p>
      <div class="flex flex-row">
        <a href="mailto:huruifeng.cn@hotmail.com" class="inline-block border border-gray-300 dark:border-gray-600 mx-5 px-6 py-3 hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">
            Send Email
        </a>
        <a href="https://www.linkedin.com/in/ruifeng-hu-702b9383/" class="inline-block border border-gray-300 dark:border-gray-600  mx-5 px-6 py-3 hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">
            LinkedIn Message
        </a>
    </div>
      <div class="mt-12 text-gray-500 text-sm">
          <p>© 2023 Ruifeng Hu. All rights reserved.</p>
      </div>
  </div>
</footer>



  <!-- Scripts -->
  <script>
    // Theme toggle logic
    const themeToggle = document.getElementById('theme-toggle');
    const html = document.documentElement;

    function toggleTheme() {
        html.classList.toggle('dark');
        localStorage.setItem('theme', html.classList.contains('dark') ? 'dark' : 'light');
    }

    // Initialize theme
    const savedTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    if (savedTheme === 'dark') html.classList.add('dark');

    // Add event listeners
    themeToggle.addEventListener('click', toggleTheme);

     // Function to handle mobile menu
     function setupMobileMenu() {
      const menuButton = document.getElementById('mobile-menu-button');
      const mobileMenu = document.getElementById('mobile-menu');

      menuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
    setupMobileMenu();
</script>