<nav class="v-toolbar elevation-0 v-toolbar--fixed theme--light white" style="margin-top:0;padding-right:0;padding-left:0;transform:translateY(0)" data-booted="true">
    <div class="v-toolbar__content" style="height: 64px;">
        <div class="spacer"></div>
        <a href="/YuanTian1991.github.io/" class="v-btn--active v-btn v-btn--icon v-btn--router theme--light">
            <div class="v-btn__content">
                <div class="v-avatar white lighten-4" style="height:40px;width:40px">
                    <img src="/YuanTian1991.github.io/_nuxt/img/df643d1.jpg" alt="avatar">
                </div>
            </div>
        </a>
        <div class="v-toolbar__title hidden-sm-and-down">
            <a href="/YuanTian1991.github.io/" id="title" class="nuxt-link-exact-active nuxt-link-active"> Yuan Tian </a>
        </div>
        <div class="spacer"></div>
        <div class="v-menu v-menu--inline">
            <div class="v-menu__activator">
                <button type="button" class="v-btn v-btn--flat theme--light">
                    <div class="v-btn__content">Life/生活</div>
                </button>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</nav>
